<div class="container d-flex justify-content-between">
  <div class="about font-weight-bold">Шихова Анна</div>
  <div class="base">
    <a href=""
      ><img src="https://avatars.mds.yandex.net/i?id=e950afd124a8c7f60fd6979339405e233ed761eb-9214528-images-thumbs&n=13" alt="vk" class="icons"
    /></a>
    
    <a href=""
      ><img src="https://www.clipartmax.com/png/middle/135-1352882_png-format-twitter-logo-transparent.png" alt="twitter" class="icons"
    /></a>
  </div>
</div>