
<div class="container">
    <div class="navbar-brand d-flex align-items-center">
        <img src="https://all-aforizmy.ru/wp-content/uploads/2021/12/ebltuf4wwaaftrd.jpg" width="100" height="100" alt="" class="plank img-fluid">
        <a href="#" class="text-danger" style="text-decoration: none;">
            <p class="amogus">Страны</p>
        </a>
    </div>
    <button type="button" class="Atomic" data-toggle="modal" data-target="#new-card-modal" id="toastbtn">Загрузить</button>
</div>